*.[Jj][Pp][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Pp][3]  filter=lfs diff=lfs merge=lfs -text
*.[Pp][Nn][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Ss][Dd] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Ww][Aa][Vv] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Tt][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Ff][Bb][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Gg][Aa] filter=lfs diff=lfs merge=lfs -text
*.[Ee][Xx][Rr] filter=lfs diff=lfs merge=lfs -text
*.[Rr][Aa][Rr] filter=lfs diff=lfs merge=lfs -text
